language: node_js
node_js:
  - "node"

addons:
  code_climate:
    repo_token: c431e390

before_script:
  - npm install yarn
  - yarn install

after_script:
  - codeclimate < coverage/lcov.info

notifications:
  email:
    - jeremy.dagorn@gmail.com
